/*@media (min-width: 580px) {*/
  /*.auth-wrapper {*/
    /*margin: 0 auto;*/
    /*width: 50%;*/
  /*}*/
/*}*/

/*@media (min-width: 1024px) {*/
  /*.auth-wrapper {*/
    /*width: 30px;*/
  /*}*/
/*}*/

.auth-logo {
  max-width: 100%;
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 50px;
}