<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored right-align" (click)="edit()">
      Edit
    </button>
  </div>
</div>

<div class="mdl-grid" *ngIf="product">
  <div class="mdl-cell mdl-cell--12-col">
    <h6>{{product.title}}</h6>
    <div class="product-type">
      Type: {{product.categoryEnumList}}
    </div>
    <div class="borrow">
      Lend or borrow: {{product.borrow}}
    </div>
    <div class="product-price">
      Price: {{product.price}}
    </div>
    <br/>
    <div class="description">
      <p>{{product.description}}</p>
    </div>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent right-align" (click)="remove()">
      Delete
    </button>
  </div>
</div>