<form (ngSubmit)="onSubmit()" action="">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="email" [(ngModel)]="email" name="email">
        <label class="mdl-textfield__label" for="email">Email...</label>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" [(ngModel)]="password" name="password">
        <label class="mdl-textfield__label" for="password">Password...</label>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Login
      </button>
    </div>
  </div>
</form>

<div class="mld-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="auth-links">
      <a [routerLink]="['/auth/forgot']">Forgot password?</a> or
      <a [routerLink]="['/auth/register']">Register</a>
    </div>
  </div>
</div>