<form (ngSubmit)="onSubmit()" action="">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="email" [(ngModel)]="email" name="email">
        <label class="mdl-textfield__label" for="email">Email...</label>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Recover
      </button>
    </div>
  </div>
</form>
