@import "../node_modules/material-design-lite/src/color-definitions";

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-cyan-500;
$color-primary-dark: $palette-cyan-700;
$color-accent: $palette-light-blue-A200;

$color-primary-contrast: "66,66,66";
$color-accent-contrast: "66,66,66";
