<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <div class="account-info">
      <img src="images/bsb@3x.jpg" alt="profile picture" class="profile-picture">
      <div class="name">Luca Andrei</div>
      <div class="rating">
        <i class="material-icons">star</i>
        <span>4.9</span>
      </div>
    </div>
    <nav class="mdl-navigation bsb-nav">
      <a class="mdl-navigation__link" [routerLink]="['/']">
        <i class="material-icons">home</i>HOME
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/my-items']">
        <i class="material-icons">list</i>MY ITEMS
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/profile']">
        <i class="material-icons">account_box</i>PROFILE
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/settings']">
        <i class="material-icons">settings</i>SETTINGS
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/terms']">
        <i class="material-icons">book</i>TERMS
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/about']">
        <i class="material-icons">info</i>ABOUT
      </a>
      <a class="mdl-navigation__link" [routerLink]="['/auth/logout']">
        <i class="material-icons">exit_to_app</i>LOGOUT
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
